/* assets/css/cards.css */
.card {
    perspective: 1000px;
    width: 300px;
    height: 200px;
    margin: var(--space-medium);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-light);
}

.card-flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    padding: var(--space-small);
}

.card-front {
    background-color: var(--color-white);
    color: var(--color-black);
}

.card-back {
    background-color: var(--color-purple-lightest);
    color: var(--color-black);
    transform: rotateY(180deg);
}

.card h5 {
    font-size: 16px;
    margin-bottom: var(--space-small);
}

.card p {
    font-size: 12px;
    padding: 0 var(--space-small); }