body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* src/index.css */
@import "./assets/css/colors.css";
@import "./assets/css/typography.css";
@import "./assets/css/logo.css";
@import "./assets/css/highlight.css";
@import "./assets/css/responsive.css";
@import "./assets/css/spacing.css";
@import "./assets/css/buttons.css";
@import "./assets/css/cards.css";